@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
p {
  margin: 0;
}

.form-error {
  input {
    border: 1px solid #ef4444;
  }
  .form-error-field {
    color: #ef4444;
    font-size: 14px;
  }
}
.login-form-error-message {
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #ef4444;
  color: #ef4444;
  padding: 24px;
  margin: 40px 0;

  @include mobile {
    margin: 20px 0;
  }
}

.login-form-success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #22c55e;
  color: #22c55e;
  margin: 40px 0;
  opacity: 0;
  transition: opacity 1s, height 1s;
  height: 0;

  @include mobile {
    margin: 20px 0;
  }

  &.show {
    opacity: 1;
    height: 70px;
  }
}
